<% content_for :title do %>
  <%=t :'devise.labels.change_password' %> · <%=t :title %>
<% end %>

<% content_for :banner do %>
  <div class="primary">
    <h1 id="summary"><%=t :'devise.labels.change_password' %></h1>
  </div>
<% end %>

<div class="content-wrapper">
  <div class="primary">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
    
      <fieldset class="field-group">
        <div class="field field-block">
          <%= f.label :password, t(:'devise.labels.password') %>
          <%= f.password_field :password %>
        </div>
        <div class="field field-block">
          <%= f.label :password_confirmation, t(:'devise.labels.password_confirmation') %>
          <%= f.password_field :password_confirmation %>
        </div>
      </fieldset>
      <div class="button-group">
        <div>
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %> <%= f.label :remember_me, t(:'devise.labels.remember_me') %>
          <% end %>
        </div>
        <%= f.submit t(:'devise.labels.change_password'), :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>
