<footer class="foot" role="contentinfo">
  <p>© 2010 <%=t :city_ottawa %> · <a href="/<%= I18n.locale %>/about/privacy"><%=t :privacy %></a> · <a href="/<%= I18n.locale %>/about/terms"><%=t :terms %></a> · <a href="/<%= I18n.locale %>/about/rules"><%=t :rules %></a></p>
</footer>
<%= javascript_include_tag :defaults, 'jquery.tweet.js' %>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
